/* COLORES */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../images/bg-mobile.svg) no-repeat;
  background-size: 100vw 100vh;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.contenedorGeneral {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container1 {
  background-color: #1d2c67;
  width: 300px;
  height: 185px;
  border-radius: 8px 90px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container1 .logo {
  width: 135px;
  height: 40px;
  margin: 40px 40px 30px;
}

.container1 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 40px;
  margin-left: 40px;
}

.icon span {
  width: 45px;
  height: 45px;
  background-color: #0c122c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  border: 0;
  border-radius: 8px;
}

.container2 {
  background-color: #1d2c67;
  width: 300px;
  height: 150px;
  margin-top: 15px;
  color: #dddbff;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0;
  border-radius: 8px;
}

.container2 p span {
  font-weight: 700;
}

.container2 .barraStorage {
  background-color: #0c122c;
  width: 85%;
  height: 20px;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.barraStorage #usado {
  position: absolute;
  /* background-color: hsl(6, 100%, 80%); to hsl(335, 100%, 65%);*/
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  width: 70%;
  height: 12px;
  border-radius: 10px;
  margin-left: 2px;
}

.barraStorage #label {
  text-align: right;
  color: white;
  font-size: 9.5px;
  padding: 1.5px;
}

.almacenamiento {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.almacenamiento span {
  margin: 0 10px;
  font-weight: 700;
}

.espacioRestante {
  background: white;
  color: black;
  width: 145px;
  height: 55px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 20px;
  left: 5px;
}

.espacioRestante div {
  font-size: 30px;
  font-weight: 700;
}

.espacioRestante span {
  color: #848794;
  font-size: 12px;
  position: relative;
  top: -5px;
  margin-left: 10px;
}

/*------------------   ATTRIBUTION   ------------------ */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: white;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1440px) {
  body {
    background: url(../images/bg-desktop.svg) #0c122c no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  .contenedorGeneral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container1 {
    margin-right: 20px;
  }
  .container2 {
    width: 460px;
    margin-top: 35px;
  }
  .container2 p {
    position: relative;
    right: 90px;
  }
  .barraStorage #label {
    text-align: right;
    color: white;
    font-size: 9.5px;
    padding: 0.5px 2px;
  }
  .espacioRestante {
    top: -130px;
    left: 122px;
  }
  .espacioRestante::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 30px solid #fff;
    bottom: -17px;
    left: 125px;
  }
}
/*# sourceMappingURL=style.css.map */